<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MineSyncer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <MineSyncer.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="savesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="overrideSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="intervalCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkStartUp" serializeAs="String">
                <value>True</value>
            </setting>
        </MineSyncer.Properties.Settings>
    </userSettings>
</configuration>
